{% if errors %}
  <tr>
    <td colspan="2">{{ errors}}</td>
  </tr>
{% endif %}
{% for field, errors in fields %}
  <tr{% if field.css_classes %} class="{{ field.css_classes }}"{% endif %}>
    <th>{% if field.label %}{{ field.label_tag }}{% endif %}</th>
    <td>
      {{ errors }}
      {{ field }}
      {% if field.help_text %}
        <br>
        <span class="helptext">{{ field.help_text }}</span>
      {% endif %}
    </td>
  </tr>
{% endfor %}
{% for field in hidden_fields %}{{ field }}{% endfor %}
